{% extends "_base.html" %}

{% block title %}{{ employee.name }}{% endblock %}

{% block content %}
<h1>Skjera - {{ employee.name }}</h1>

<p>
    Date of birth: {{ Self::dob(self) }}
</p>

<p>
    <a href="./{{ employee.id }}/create-message">Create AI message</a>
</p>

<h2>Social networks</h2>
<table>
<thead>
<tr>
    <td>Network</td>
    <td>Network instance</td>
    <td>Authenticated</td>
    <td>Avatar</td>
    <td>Subject</td>
    <td>Name</td>
    <td>Nick</td>
    <td>Avatar</td>
</tr>
</thead>
<tbody>
{%- for sa in some_accounts %}
<tr>
  <td>{{ sa.network }}</td>
  <td>{% if let Some(network_instance) = sa.network_instance %}{{ network_instance }}{% endif %}</td>
  <td>{{ sa.authenticated }}</td>
  <td>{% if let Some(network_avatar) = sa.network_avatar %}{{ network_avatar }}{% endif %}</td>
  <td>{% if let Some(subject) = sa.subject %}{{ subject }}{% endif %}</td>
  <td>{% if let Some(name) = sa.name %}{{ name }}{% endif %}</td>
  <td>{% if let Some(nick) = sa.nick %}{{ nick }}{% endif %}</td>
  <td>{% if let Some(avatar) = sa.avatar %}{{ avatar }}{% endif %}</td>
</tr>
{%- endfor %}
</tbody>
</table>

{% endblock %}
