<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/reset-zone.regular.css">
</head>
<body>
Hello {{ name }}

{% if let Some(google_auth_url) = self.google_auth_url %}
<p>
    <a href="{{ google_auth_url }}">Click here to sign in with Google!</a>
</p>
{% endif %}
{% if let Some(employees) = self.employees %}
<h2>Employees</h2>
<table>
    {% for employee in employees %}
    <tr>
        <td>
            <a href="/employee/{{ employee.id }}">{{ employee.name }}</a>
        </td>
        <td>
            {{ employee.dob_day|fmt("{:?}") }} {{ employee.dob_month|fmt("{:?}") }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>
