{% extends "_base.html" %}

{% block title %}Skjera?!{% endblock %}

{% block content %}
{% if let Some(user) = user %}
<p>
    Hello {{ user.name }}!
</p>
<p>
    Edit your profile <a href="/me">here</a>.
</p>
<p>
    <a href="/logout">logout</a>.
</p>
{% endif %}

{% if let Some(employees) = self.employees %}
<h2>Employees</h2>
<table>
<thead>
<tr>
    <th>Name</th>
    <th>Email</th>
    <th>Date of birth</th>
</tr>
</thead>
<tbody>
{%- for employee in employees %}
    <tr>
        <td>
            <a href="/employee/{{ employee.id }}">{{ employee.name }}</a>
        </td>
        <td>
            <a href="mailto:{{ employee.email }}">{{ employee.email }}</a>
        </td>
        <td>
            {%- if let Some(dob) = employee.dob -%}
            {{ dob.month()|fmt("{:?}") }} {{ dob.day()|fmt("{:?}") }}
            {%- endif -%}
        </td>
    </tr>
{%- endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
