<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:;base64,," />
    <link rel="stylesheet" href="/assets/reset-zone.regular.css">
</head>
<body>
{% if let Some(user) = user %}
<p>
    Hello {{ user.name }}!
</p>
<p>
    Edit your profile <a href="/me">here</a>.
</p>
{% endif %}

{% if let Some(google_auth_url) = self.google_auth_url %}
<p>
    <a href="{{ google_auth_url }}">Click here to log in</a>
</p>
{% endif %}
{% if let Some(employees) = self.employees %}
<h2>Employees</h2>
<table>
    {% for employee in employees %}
    <tr>
        <td>
            <a href="/employee/{{ employee.id }}">{{ employee.name }}</a>
        </td>
        <td>
            {% if let Some(dob) = employee.dob %}
            {{ dob.day()|fmt("{:?}") }}{{ dob.month()|fmt("{:?}") }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}
</body>
</html>
