<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="data:;base64,," />
    <link rel="stylesheet" href="/assets/reset-zone.regular.css">
    <style>
        tr th {
            vertical-align: top;
        }
    </style>
</head>
<body>
<h1>Edit profile</h1>
<form action="/me" method="POST">
<table>
<tr>
    <td>
        <label for="dob_month">Month of birth</label>
    </td>
    <td>
        <select name="dob_month" id="dob_month">
            {% for month in month_names %}
            <option value="{{ loop.index }}"
                    {%- if loop.index == dob_month %} selected{% endif -%}
            >{{ month }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td>
        <label for="dob_day">Day of birth</label>
    </td>
    <td>
        <select name="dob_day" id="dob_day">
            {% for day in days %}
            <option value="{{ loop.index }}"
                    {%- if loop.index == dob_day %} selected{% endif -%}
            >{{ day }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <button>Save</button>
    </td>
</tr>
</table>
</form>

<h2>SoMe Accounts</h2>
<table>
<thead>
<tr>
    <th>Network</th>
    <th>Nick</th>
    <th>URL</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for a in some_accounts %}
<tr>
    <td>{{ a.network }}</td>
    <td>{% if let Some(nick) = a.nick %}{{ nick }}{% endif %}</td>
    <td>
        {% if let Some(url) = a.url -%}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
        {%- endif %}
    </td>
    <td>
        <form action="/me/some_account/{{ a.id }}/delete" method="POST">
            <input type="hidden" name="employee_id" value="{{ a.employee }}">
            <button type="submit">Remove</button>
        </form>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Add SoMe Account</h3>
<form action="/me/some_account/add" method="POST">
<table>
    <tr>
        <th>
            <label for="bluesky">Bluesky @handle</label>
        </th>
        <td>
            <input type="text" name="bluesky" id="bluesky" placeholder="@bluesky">
        </td>
        <td>
            <input type="submit" name="button_bluesky" value="Add Bluesky account">
        </td>
    </tr>
    <tr>
        <th>
            <label for="linkedin">Linked-in profile URL</label>
        </th>
        <td>
            <input type="text" name="linkedin" id="linkedin" placeholder="https://www.linkedin.com/in/my-profile">
        </td>
        <td>
            <input type="submit" name="button_linkedin" value="Add Linked-in account">
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            Click on your own name on the Linked-in home page to find your own URL.
        </td>
    </tr>
    <tr>
        <th>
            <label for="x">X @handle</label>
        </th>
        <td>
            <input type="text" name="x" id="x" placeholder="@handle">
        </td>
        <td>
            <input type="submit" name="button_x" value="Add X account">
        </td>
    </tr>
</table>
</form>

</body>
</html>
