{% extends "_base.html" %}

{% block title %}Edit Profile{% endblock %}
{% block head %}
<style>
    tr th {
        vertical-align: top;
    }
</style>
{% endblock %}

{% block content %}
<h1>Edit profile</h1>
<form action="/me" method="POST">
<table>
<tr>
    <td>
        <label for="dob_year">Year of birth</label>
    </td>
    <td>
        <input type="number" name="dob_year" id="dob_year"
               min="1900" max="2100" value="{{ dob_year }}" required>
    </td>
</tr>
<tr>
    <td>
        <label for="dob_month">Month of birth</label>
    </td>
    <td>
        <select name="dob_month" id="dob_month">
            {% for month in month_names %}
            <option value="{{ loop.index }}"
                    {%- if loop.index == dob_month %} selected{% endif -%}
            >{{ month }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td>
        <label for="dob_day">Day of birth</label>
    </td>
    <td>
        <select name="dob_day" id="dob_day">
            {% for day in days %}
            <option value="{{ loop.index }}"
                    {%- if loop.index == dob_day %} selected{% endif -%}
            >{{ day }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <td colspan="2">
        <button>Save</button>
    </td>
</tr>
{% if let Some(slack_url) = slack_url %}
<tr>
    <td colspan="2">
        <a href="{{ slack_url }}"
           style="align-items:center;color:#000;background-color:#fff;border:1px solid #ddd;border-radius:4px;display:inline-flex;font-family:Lato, sans-serif;font-size:16px;font-weight:600;height:48px;justify-content:center;text-decoration:none;width:256px">
            <svg xmlns="http://www.w3.org/2000/svg" style="height:20px;width:20px;margin-right:12px"
                 viewBox="0 0 122.8 122.8">
                <path d="M25.8 77.6c0 7.1-5.8 12.9-12.9 12.9S0 84.7 0 77.6s5.8-12.9 12.9-12.9h12.9v12.9zm6.5 0c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9v32.3c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V77.6z"
                      fill="#e01e5a"></path>
                <path d="M45.2 25.8c-7.1 0-12.9-5.8-12.9-12.9S38.1 0 45.2 0s12.9 5.8 12.9 12.9v12.9H45.2zm0 6.5c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H12.9C5.8 58.1 0 52.3 0 45.2s5.8-12.9 12.9-12.9h32.3z"
                      fill="#36c5f0"></path>
                <path d="M97 45.2c0-7.1 5.8-12.9 12.9-12.9s12.9 5.8 12.9 12.9-5.8 12.9-12.9 12.9H97V45.2zm-6.5 0c0 7.1-5.8 12.9-12.9 12.9s-12.9-5.8-12.9-12.9V12.9C64.7 5.8 70.5 0 77.6 0s12.9 5.8 12.9 12.9v32.3z"
                      fill="#2eb67d"></path>
                <path d="M77.6 97c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9-12.9-5.8-12.9-12.9V97h12.9zm0-6.5c-7.1 0-12.9-5.8-12.9-12.9s5.8-12.9 12.9-12.9h32.3c7.1 0 12.9 5.8 12.9 12.9s-5.8 12.9-12.9 12.9H77.6z"
                      fill="#ecb22e"></path>
            </svg>
            Sign in with Slack</a>
    </td>
</tr>
{% endif %}
</table>
</form>

<h2>SoMe Accounts</h2>
<table>
<thead>
<tr>
    <th>Network</th>
    <th>Nick</th>
    <th>URL</th>
    <th></th>
</tr>
</thead>
<tbody>
{% for a in some_accounts %}
<tr>
    <td>{{ a.network }}</td>
    <td>{% if let Some(nick) = a.nick %}{{ nick }}{% endif %}</td>
    <td>
        {% if let Some(url) = a.url -%}
        <a href="{{ url }}" target="_blank">{{ url }}</a>
        {%- endif %}
    </td>
    <td>
        <form action="/me/some_account/{{ a.id }}/delete" method="POST">
            <input type="hidden" name="employee_id" value="{{ a.employee }}">
            <button type="submit">Remove</button>
        </form>
    </td>
</tr>
{% endfor %}
</tbody>
</table>

<h3>Add SoMe Account</h3>
<form action="/me/some_account/add" method="POST">
<table>
    <tr>
        <th>
            <label for="bluesky">Bluesky @handle</label>
        </th>
        <td>
            <input type="text" name="bluesky" id="bluesky" placeholder="@bluesky">
        </td>
        <td>
            <input type="submit" name="button_bluesky" value="Add Bluesky account">
        </td>
    </tr>
    <tr>
        <th>
            <label for="linkedin">Linked-in profile URL</label>
        </th>
        <td>
            <input type="text" name="linkedin" id="linkedin" placeholder="https://www.linkedin.com/in/my-profile">
        </td>
        <td>
            <input type="submit" name="button_linkedin" value="Add Linked-in account">
        </td>
    </tr>
    <tr>
        <td></td>
        <td colspan="2">
            Click on your own name on the Linked-in home page to find your own URL.
        </td>
    </tr>
    <tr>
        <th>
            <label for="x">X @handle</label>
        </th>
        <td>
            <input type="text" name="x" id="x" placeholder="@handle">
        </td>
        <td>
            <input type="submit" name="button_x" value="Add X account">
        </td>
    </tr>
</table>
</form>

{% endblock %}
